# This is a Jinja2 template for generating configuration files dynamically.
# You can use variables defined in the role to customize the output.

# Example content:
# 
# [service]
# name={{ service_name }}
# version={{ service_version }}
# enabled={{ service_enabled }}